.card {
    margin-top: 40px;
}

.form-group {
    position: relative;
    p {
        overflow-wrap: break-word;
        word-wrap: break-word;
        margin-right: 5px;
    }
}

.btn-group-toggle {
    display: inline-block;
}

.btn-answer-left {
    margin-right: 80px;
    width: 100px;
}

.btn-answer-right {
    width: 100px;
}