<div class="container">
  <div class="card">
    <div class="card-body">
      <h1>KYC</h1>
      <form #kycForm="ngForm" action="" class="form">
        <div class="form-group">
          <div class="question2">
            <label for="">Question1</label>
            <p class="question-content">1.ท่านหรือบุคคลที่ท่านรู้จักมีความเกี่ยวข้องกับการฟอกเงินหรือสนับสนุนการก่อการร้าย(ทั้งในประเทศ หรือต่างประเทศ)
              หรือไม่</p>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary btn-answer-left">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> ไม่มี
              </label>
              <label class="btn btn-secondary btn-answer-right">
                <input type="radio" name="options" id="option2" autocomplete="off"> มี
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="question2">
            <label for="">Question2</label>
            <p class="question-content">2.ท่านเป็นหรือมีความเกี่ยวข้องกับบุคคลที่มีสถานะหรือมีความสัมพันธ์ทางการเมือง (ทั้งในประเทศ หรือต่างประเทศ) หรือไม่</p>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary btn-answer-left">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> ไม่มี
              </label>
              <label class="btn btn-secondary btn-answer-right">
                <input type="radio" name="options" id="option2" autocomplete="off"> มี
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="question3">
            <label for="">Question3</label>
            <p class="question-content">3.ท่านมีแหล่งเงิน ถิ่นที่อยู่ สถานที่ติดต่อ หรือจัดตั้งในเขตดินแดนหรือประเทศที่ไม่มีมาตรการ ไม่ได้ประยุกต์ใช้ข้อแนะนำของ
              Financial Action Task Force on Money Laundering - FATF หรือ ไม่ให้ความร่วมมือในการกำหนดมาตรการทางการเงินที่เกี่ยวข้องกับการป้องกันและปราบปรามการฟอกเงินหรือไม่</p>
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary btn-answer-left">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> ไม่มี
              </label>
              <label class="btn btn-secondary btn-answer-right">
                <input type="radio" name="options" id="option2" autocomplete="off"> มี
              </label>
            </div>
          </div>
        </div>


        <div class="form-group text-center space-20">
          <button class="btn btn-outline-rounded btn-info" (click)="goToPrevious(kycForm)">
            <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
          <button class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="goToNext(kycForm)"> Next
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>