i {
    font-size: 60px;
    color: red;
}

#status-buttons a.active span.round-tabs.one {
    background: rgb(34, 194, 34);
    color: #fff
}

#status-buttons a.active span.round-tabs.two {
    background: #febe29;
    color: #fff
}

#status-buttons a.active span.round-tabs.three {
    background: #3e5e9a;
    color: #fff
}

#status-buttons a.active span.round-tabs.four {
    background: #f1685e;
    color: #fff
}