<h1>Testtttttt</h1>
<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div>

    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="home">
        <span class="round-tabs one">
          <i class="far fa-chevron-left"></i>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/login" routerLinkActive="active" data-toggle="tab" title="login">
        <span class="round-tabs two">
          <i class="fa fa-angular"></i>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/kyc" routerLinkActive="active" data-toggle="tab" title="kyc">
        <span class="round-tabs three">
          <i class="far fa-chevron-left"></i>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/user-info" routerLinkActive="active" data-toggle="tab" title="user-info">
        <span class="round-tabs four">
          <i class="far fa-car"></i>
        </span>
      </a>
    </li>

  </ul>
  <div class="clearfix"></div>
</div>

<!-- Close the Splash screen -->
<!-- <script src="assets/js/loading-bars.js"></script> -->