<!-- <div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div> -->
<div class="container">
  <div class="link-menu">
    <div class="liner"></div>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="tab" title="home">
        <span class="round-tabs one">
          <i class="fa fa-lock one"></i>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/login" routerLinkActive="active" data-toggle="tab" title="login">
        <span class="round-tabs two">
          <i class="fa fa-android"></i>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/kyc" routerLinkActive="active" data-toggle="tab" title="kyc">
        <span class="round-tabs three">
          <i class="fa fa-phone"></i>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="/user-info" routerLinkActive="active" data-toggle="tab" title="user-info">
        <span class="round-tabs four">
          <i class="fa fa-car"></i>
        </span>
      </a>
    </li>
  </div>
</div>

<!-- </ul>
  <div class="clearfix "></div>
</div> -->