<div class="container">
  <h1>Login Page</h1>
  <div class="card col-sm-6">
    <div class="card-body">
      <form #loginForm="ngForm" action="" class="form">
        <div class="form-group">
          <label for="login" class="login">Username</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="login" class="login">Password</label>
          <input type="text" class="form-control">
        </div>

        <div class="form-group text-center space-20">
          <button class="btn btn-outline-rounded btn-info" (click)="goToPrevious(loginForm)">
            <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
          <button class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="goToNext(loginForm)"> Next
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>