<div class="container">
  <h1> User Infomation </h1>
  <div class="card">
    <div class="card-body">
      <form #userInfoForm="ngForm" action="" class="form">
        <div class="form-group group-national-id">
          <label id="label-national-id" for="">เลขบัตรประจำตัวประชาชน</label>
          <input id="input-national-id" class="col-sm-8 col-lg-6" type="text">
        </div>

        <div class="form-group">
          <input class="col-sm-8 col-lg-5" type="text" placeholder="วันที่ออกบัตร">
          <input class="col-sm-8 col-lg-5" type="text" placeholder="วันที่บัตรหมดอายุ">
          <input class="col-sm-8 col-lg-5" type="text" placeholder="คำนำหน้า">
          <input class="col-sm-8 col-lg-5" type="text" placeholder="ชื่อ">
          <input id="input-national-id" class="col-sm-8 col-lg-5" type="text" placeholder="ชื่อ">
          <input id="input-national-id" class="col-sm-8 col-lg-5" type="text" placeholder="นามสกุล">
          <input id="input-national-id" class="col-sm-8 col-lg-5" type="text" placeholder="เพศ">
          <input id="input-national-id" class="col-sm-8 col-lg-5" type="text" placeholder="วัน-เดือน-ปีเกิด">
          <input id="input-national-id" class="col-sm-8 col-lg-5" type="text" placeholder="สัญชาติ">
          <input id="input-national-id" class="col-sm-8 col-lg-5" type="text" placeholder="Laser Code">
        </div>


        <div class="form-group text-center space-20">
          <button class="btn btn-outline-rounded btn-info" (click)="goToPrevious(userInfoForm)">
            <span style="margin-right:10px;" class="glyphicon glyphicon-arrow-left"></span> Previous</button>
          <button class="btn btn-outline-rounded btn-info" [disabled]="!workForm.valid" (click)="goToNext(userInfoForm)"> Next
            <span style="margin-left:10px;" class="glyphicon glyphicon-arrow-right"></span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>